body {
  font-family: sans-serif;
  padding: 20px;
  background: (images/uzT4PZL.jpg);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  border-radius: 4px;
}

.green { background-color: #4caf50; color: white; }
.yellow { background-color: #ffeb3b; color: black; }
.gray { background-color: #e0e0e0; color: black; }
