body {
  font-family: Helvetica Neue Extra Black Condensed.;
  text-align: center;
  background: /uzT4PZL.jpg;
  color: #333;
  background-image: url('images/uzT4PZL.jpg');
  /* Other background properties */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top to bottom;
}
input {
  padding: 10px;
  font-size: 1em;
}
#result {
  margin-top: 50px;
  font-size: 1.2em;
}
img {
  margin-top: 10px;
  border-radius: 10px;
}
